// ===== FONT GOGGLE =====
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

// ===== VARIABLES SCSS =====
// header height
$header-height: 6rem;

// color palette
$orange-color: #ff6100;
$black-color: #212529;
$grey-color: #6c757d;
$white-color: #ffffff;

// font body
$font-body: "Poppins", sans-serif;

// font weight
$font-reguler: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// margin
$margin-0-5: 0.5rem;
$margin-1: 1rem;
$margin-1-5: 1.5rem;
$margin-2: 2rem;
$margin-2-5: 2.5rem;
$margin-3: 3rem;
$margin-3-5: 3.5rem;
$margin-4: 4rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;

// transition
$transition-300: 0.3s;

// line-height
$leading-title: 150%;
$leading-text: 180%;

// ===== RESET & BASE =====
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-body;
  font-weight: $font-reguler;
  letter-spacing: -0.03rem;
}

ul,
a {
  list-style: none;
  text-decoration: none;
}

input,
button {
  font-family: $font-body;
  font-weight: $font-reguler;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

// ===== REUSABLES CSS CLASS =====
.section {
  padding: 8rem 0;

  &-title {
    font-size: 28px;
    font-weight: $font-bold;
    color: $black-color;
    margin-bottom: $margin-1;
    line-height: $leading-title;
  }

  &-text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: $orange-color;
  border-radius: 1rem;
  font-size: 15px;
  font-weight: $font-medium;
  color: $white-color;
  text-transform: capitalize;
}

.container {
  max-width: 1120px;
  width: calc(100% - 3rem);
  margin: 0 $margin-1-5;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

// ===== HEADER SECTION =====
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $white-color;
  z-index: $z-fixed;
  transition: $transition-300;

  &__container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 20px;
    font-weight: $font-bold;
    color: $black-color;

    &-icon {
      width: 45px;
    }
  }

  &__menu {
    @media screen and (max-width: 767px) {
      position: fixed;
      width: 80%;
      top: 7rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-align: center;
      padding: 2rem;
      background-color: $white-color;
      box-shadow: 0 0 12px rgba($color: #000000, $alpha: 0.1);
      border-radius: 2rem;
      transition: $transition-300;
      opacity: 0;
      transform: scaleY(0);
      transform-origin: 0% 0%;
    }

    // show menu
    &.show-menu {
      opacity: 1;
      transform: scaleY(1);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    font-size: 15px;
    color: $grey-color;

    &.active-link {
      font-weight: $font-semibold;
      color: $orange-color;
    }
  }

  &__button {
    margin-top: 1.5rem;
  }

  &__toggle {
    display: inline-flex;
    font-size: 1.5rem;
    color: $black-color;
    cursor: pointer;
  }
}

// ===== HOME SECTION =====
.home {
  &__container {
    gap: 3rem;
  }

  &__img,
  &__data {
    justify-self: center;
  }

  &__img {
    width: 320px;
  }

  &__text {
    margin-bottom: $margin-2;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    &-play {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      border-radius: 10rem;
      border: 2px solid rgba($color: #ff6100, $alpha: 0.3);
      font-size: 1.5rem;
      color: $orange-color;
    }
  }
}

// ===== PARTNER SECTION =====
.partner {
  padding: 5rem 0;
  background-color: #fefdfd;

  &__container {
    gap: 2rem;
  }

  &__data,
  &__group {
    justify-self: center;
  }

  &__data {
    text-align: center;
  }

  &__group {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    gap: 3rem 2rem;
  }

  &__img {
    width: 130px;
    justify-self: center;
    filter: grayscale(1);
    opacity: 0.7;
    transition: $transition-300;

    &:hover {
      filter: grayscale(0);
      opacity: 1;
    }
  }
}

// ===== INSTRUCTURE SECTION =====
.instructure {
  position: relative;

  &__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
  }

  &__content {
    width: 300px;
    display: grid;
    gap: 2rem;
    text-align: center;
  }

  &__img,
  &__data {
    justify-self: center;
  }

  &__number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    background-color: $orange-color;
    border-radius: 50%;
    border: 12px solid $white-color;
    box-shadow: 0 0 4px $orange-color;
    font-size: 20px;
    font-weight: $font-bold;
    color: $white-color;
    margin-bottom: $margin-1;
  }

  &__title {
    font-size: 20px;
    font-weight: $font-bold;
    color: $black-color;
    margin-bottom: $margin-1;
  }

  &__text {
    font-size: 15px;
    color: $grey-color;
    line-height: $leading-text;
  }
}

// ===== FEATURE SECTION =====
.feature {
  background-color: $orange-color;

  &__container {
    gap: 2rem;
  }

  &__title {
    color: $white-color;
  }

  &__group {
    display: grid;
    gap: 3rem;
  }

  &__content,
  &__img {
    justify-self: center;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 0.8fr));
    justify-content: center;
    gap: 3rem;
  }

  &__item {
    &-icon {
      margin-bottom: $margin-1;
    }

    &-title,
    &-text {
      color: $white-color;
    }

    &-title {
      font-size: 20px;
      font-weight: $font-bold;
      margin-bottom: $margin-1;
    }

    &-text {
      font-size: 15px;
      line-height: $leading-text;
    }
  }
}

// ===== TESTIMONIAL SECTION =====
.testimonial {
  &__title {
    text-align: center;
  }

  &__content {
    display: grid;
    gap: 2rem;
    padding: 2rem;
    border: 2px solid rgba($color: #000000, $alpha: 0.05);
    border-radius: 2rem;
    transition: $transition-300;

    &-text {
      font-size: 15px;
      font-weight: $font-medium;
      color: $black-color;
      line-height: $leading-text;
    }

    &-profile {
      display: inline-flex;
      align-items: center;
      gap: 10px;
    }

    &-img {
      width: 55px;
    }

    &-title {
      font-size: 17px;
      font-weight: $font-semibold;
      margin-bottom: 6px;
    }

    &-professtion {
      font-size: 15px;
      color: $grey-color;
    }

    &.swiper-slide-active {
      border-color: $white-color;
      box-shadow: 0 16px 24px rgba($color: #000000, $alpha: 0.1);
    }
  }

  .swiper-wrapper {
    padding: 2rem 0;
  }

  &__container {
    overflow: hidden;

    & .swiper-pagination {
      position: initial;
    }

    & .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: rgba($color: #000000, $alpha: 0.3);
      transition: $transition-300;
    }

    & .swiper-pagination-bullet-active {
      width: 2rem;
      height: 10px;
      background-color: $orange-color;
      border-radius: 5rem;
    }
  }
}

// ===== TEAM SECTION =====
.team {
  &__container {
    gap: 2rem;
  }

  &__title {
    text-align: center;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }

  &__content {
    width: 300px;
    display: grid;
    gap: 1rem;

    &-img {
      width: 100%;
      height: 100%;
    }

    &-name {
      font-size: 25px;
      font-weight: $font-bold;
      color: $black-color;
      margin-bottom: 4px;
    }

    &-proffesion {
      font-size: 15px;
      color: $grey-color;
    }
  }
}

// ===== PRICING SECTION =====
.pricing {
  &__container {
    gap: 2rem;
  }

  &__title {
    text-align: center;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
  }

  &__content {
    width: 300px;
    display: grid;
    gap: 2rem;
    text-align: center;
    padding: 4rem 2rem;
    border: 2px solid rgba($color: #000000, $alpha: 0.05);
    border-radius: 2rem;
    transition: $transition-300;

    &:hover {
      border-color: $orange-color;
      background-color: $orange-color;
      transform: translateY(-4px);

      .pricing__content-title,
      .pricing__content-price,
      .pricing__content-text {
        color: $white-color;
      }
    }

    &-img {
      justify-self: center;
    }

    &-title {
      font-size: 36px;
      font-weight: $font-bold;
      color: $black-color;
      margin-bottom: $margin-1;
    }

    &-price {
      font-size: 20px;
      font-weight: $font-medium;
      color: $orange-color;
      margin-bottom: $margin-1;
    }

    &-number {
      font-size: 56px;
      font-weight: $font-bold;
    }

    &-text {
      font-size: 15px;
      color: $grey-color;
      line-height: $leading-text;
    }
  }
}

// ===== CALLBACK SECTION =====
.callback {
  padding: 5rem 0;

  &__container {
    gap: 3rem;
    background-color: $orange-color;
    padding: 5rem 2rem;
    border-radius: 2rem;
  }

  &__data {
    text-align: center;
  }

  &__data,
  &__img {
    justify-self: center;
  }

  &__title,
  &__text {
    color: $white-color;
  }

  &__text {
    margin-bottom: $margin-2;
  }

  &__button {
    background-color: $white-color;
    color: $orange-color;
  }
}

// ===== FAQ SECTION =====
.faq {
  &__container {
    gap: 3rem;
  }

  &__accordion {
    display: grid;
    gap: 1.5rem;

    &-item {
      background-color: rgba($color: #ff6100, $alpha: 0.05);
      border-radius: 1rem;
      transition: $transition-300;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;
      cursor: pointer;
    }

    &-title {
      font-size: 17px;
      font-weight: $font-semibold;
      color: $black-color;
      transition: $transition-300;
    }

    &-icon {
      display: inline-flex;
      font-size: 1.3rem;
      color: $black-color;
      transition: $transition-300;
    }

    &-content {
      overflow: hidden;
      height: 0;
      transition: $transition-300;
    }

    &-text {
      font-size: 15px;
      color: $black-color;
      line-height: $leading-text;
      padding: 0 1.5rem 1.5rem;
      transition: $transition-300;
    }
  }

  // accordion open
  .accordion-open {
    &.faq__accordion-item {
      background-color: $orange-color;
    }

    & .faq__accordion-title,
    & .faq__accordion-icon,
    & .faq__accordion-text {
      color: $white-color;
    }

    & .faq__accordion-icon {
      transform: rotate(45deg);
    }
  }
}

// ===== NEWSLETTER SECTION =====
.newsletter {
  padding: 5rem 0;
  background-color: $orange-color;

  &__container {
    text-align: center;
    gap: 3rem;
  }

  &__data {
    text-align: center;
  }

  &__title,
  &__text {
    color: $white-color;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba($color: #ffffff, $alpha: 0.15);
    border: 2px solid $white-color;
    border-radius: 1rem;
    overflow: hidden;
  }

  &__input {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: transparent;
    font-size: 15px;
    font-weight: $font-medium;
    color: $white-color;

    &::placeholder {
      font-size: 15px;
      font-weight: $font-medium;
      color: $white-color;
    }
  }

  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: $white-color;
    font-size: 15px;
    font-weight: $font-medium;
    color: $orange-color;
  }
}
